.catNavbarMain {
	width: 100%;
	background-color: var(--11lcxa5);
}

.catNavbarMain > ul {
	height: 50px;
	max-width: 1270px;
	list-style: none;
	margin: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: aliceblue;
	text-transform: capitalize;
}

.catNavbarMain > ul > li {
	height: 100%;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.catNavbarMain > ul > li:hover {
	background-color: #EEEEEE;
	color: var(--11lcxa5);
}

.hello {
	position: relative;
}

.hello:hover .megaMenu {
	display: block;
}


