.megaMenu {
	background-color: #EEEEEE;
	color: var(--11lcxa5);
	width: 1270px;
	margin: auto;
	padding: 5px 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
	position: absolute;
	top: 100%;
	left: 0;
	border-radius: 5px;
	transition: 0.5s;
	z-index: 1;
	display: none;
}

.megaMenuContent {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2px;
	flex-basis: 25%;
	border-right: 1px solid rgb(222, 221, 221);
}

.megaMenuContent > h3 {
	font-size: 16px;
	text-transform: uppercase;
}

.megaMenuContent > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
}

.megaMenuContent > ul > li > a {
	text-decoration: none;
	color: var(--11lcxa5);
	text-transform: capitalize;
	display: flex;
	align-items: center;
	padding: 2px 0;
}

.megaMenuContent > ul > li > a:hover {
	color: rgb(49, 49, 255);
}

.megaMenuContent:nth-child(2) > ul > li > a,
.megaMenuContent:nth-child(3) > ul > li > a {
	border-bottom: 1px solid rgb(222, 221, 221);
}

.megaMenuContent:nth-child(2) > ul > li > a > img,
.megaMenuContent:nth-child(3) > ul > li > a > img {
	height: 40px;
	margin-right: 10px;
	border-radius: 50px;
}

.megaMenuContent:nth-child(2) > ul > li > a > img:hover,
.megaMenuContent:nth-child(3) > ul > li > a > img:hover {
	border: 1px solid rgb(49, 49, 255);
	margin-right: 10px;
	border-radius: 50px;
}

.megaMenuContent:nth-child(4) > ul > li > a > img {
	position: relative;
}

.megaMenuContent:nth-child(4) > ul > li > a > p {
	position: absolute;
	right: 120px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	padding: 2px 5px;
	border-radius: 5px;
	background: transparent linear-gradient(90deg, rgb(194, 194, 194) 0%, rgb(255, 255, 255) 100%) 0% 0% no-repeat padding-box;
	
}