.main {
	width: 100%;
	background-color: var(--11lcxa5);
}

.main-child {
	max-width: 1300px;
	margin: auto;
	display: flex;
	align-items: center;
}

.main-child > a {
	padding:0 20px;
	display:flex;
	align-items:center;
}

.main-child > .ul {
	display: flex;
	align-items: center;
	height: 60px;
}

.main-child > .ul > li {
	height: 100%;
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0 40px;
	text-transform: uppercase;
	color: var(--3pchel);
	font-size: 14px;
	font-family: var(--bold-font);
	letter-spacing: 2px;
}

.main-child > .ul > li:hover{
	cursor: pointer;
	background-color: var(--4439lq);
}

.search-bar {
	width: 70%;
	height: 40px;
	margin: 0 20px;
	border-radius: 20px;
	position: relative;
}

.search-input {
	border-radius: 20px;
	width: 100%;
	height: 100%;
	border: none;
	padding: 0 20px;
	font-family: var(--regular-font);
	letter-spacing: 1px;
	font-size: 16px;
}

.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0 10px;
	font-size: 20px;
	background: none;
	border: none;
	outline: none;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.user-section {
	display: flex;
	align-items: center;
	height: 60px;
}

.user-section > li {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 14px;
	color: var(--3pchel);
	font-size: 24px;
}
.user-hover {
	border: 1px solid var(--11lcxa5);
	border-radius: 5px;
	transition: 0.5s;
	position: relative;
}

.user-hover:hover {
	border-radius: 5px;
	border: 1px solid white;
}

.main-child ul {
	list-style: none;
}

.user-dropdown {
	display: none;
	width: 325px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	position: absolute;
	top: 100%;
	left: -170px;
	right: 0;
	background-color: white;
	border-radius: 5px;
	transition: 0.5s;
	color: black;
	font-size: 18px;
	z-index: 1;
}

.user-section > li:hover .user-dropdown {
	display: block;
	z-index: 1;
}

.user-dropdown-header {
	display: flex;
	justify-content: space-between;
	background-color: var(--na3s62);
	padding: 10px;
}

.user-dropdown-header > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.user-dropdown-list {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.user-dropdown-list > li > a {
	display: flex;
	gap: 15px;
	align-items: center;
}

.user-dropdown-header > ul {
	display: flex;
	justify-content: space-between;
}

.user-dropdown-header > a:hover {
	color: rgb(62, 29, 227);
}

.blank {
	background-color: var(--na3s62);
	width: 15px;
	height: 15px;
	rotate: 45deg;
	position: absolute;
	top: -7px;
	left: 187px;
}

.btn {
	background-color: var(--na3s62);
	color: rgb(255, 0, 0);
	border: none;
	outline: none;
	font-family: var(--regular-font);
	font-size: 16px;
	cursor: pointer;
	transition: 0.5s;
	
}

.btn:hover {
	text-decoration: underline;
	transition: 0.2s;
}